.profile {
    width: 300px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.profile-title {
    font-size: 16px; 
    letter-spacing: 3px; 
    text-align: center;
}

#special {
    text-align: center;
}